
<label for="">Branch id</label>
<input type="text" name="" id="" [(ngModel)]="infoudate.branchId">
<div></div>

<label for="">Type</label>
<input type="text" name="" id="" [(ngModel)]="infoudate.type">
<div></div>

<label for="">Last name</label>
<input type="text" name="" id="" [(ngModel)]="infoudate.lastName">
<div></div>

<label for="">first name</label>
<input type="text" name="" id="" [(ngModel)]="infoudate.firstName">
<div></div>

<label for="">salary</label>
<input type="text" name="" id="" [(ngModel)]="infoudate.salary" placeholder="{{detelaes[0].salary}}">
<div></div>

<label for="">photo</label>
<input type="file" name="" id="" [(ngModel)]="infoudate.photo">
<div></div>

<label for="">startDate</label>
<input type="date" name="" id="" [(ngModel)]="infoudate.startDate">
<div></div>


<button (click)="prametinfo()">sent</button>