<div class="container-fluid">
    <div class="card">
        <div class="card-body">
       
<table class="table">
<thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>ID</th>
        <th>Salary</th>
        <th>startDate</th>
        <th>Type</th>
        <th>Email</th>
        <th>Enable</th>
        <th>BranchId</th>
        <th>AccountId</th>
        
    </tr>
</thead>

<tbody>
    <tr>
        <td>{{dataOFemp.firstName}}</td>
        <td>{{dataOFemp.lastName}}</td>
        <td>{{dataOFemp.id}}</td>
        <td>{{dataOFemp.salary}}</td>
        <td>{{dataOFemp.startDate}}</td>
        <td>{{dataOFemp.type}}</td>
        <td>{{dataOFemp.email}}</td>
        <td>{{dataOFemp.enable}}</td>
        <td>{{dataOFemp.branchId}}</td>
        <td>{{dataOFemp.accountId}}</td>


   
    </tr>
</tbody>