<div *ngIf="all" id="all">
    <div class="container-fluid">
    <button class="btn btn-dark m-3" [routerLink]="['/admin', id]">Return Home</button>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Customer ID</th>
                            <th>Account ID</th>
                            <th>Enable</th>
                            <th>Loan ID</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let a of allLoan">
                        <tr>
                            <td>{{a.amount}}</td>
                            <td>{{a.custmerId}}</td>
                            <td>{{a.accountId}}</td>
                            <td>{{a.enable}}</td>
                            <td>{{a.loanId}}</td>
                            <td>
                                <button class="btn btn-dark" (click)="getoneLoan(a.loanId)">Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="one" id="one">
    <br>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Type Account</th>
                            <th>Point</th>
                            <th>SSN</th>
                            <th>Amount</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let b of detilasLoan">
                        <tr>
                            <td>{{b.fname}}</td>
                            <td>{{b.lname}}</td>
                            <td>{{b.age}}</td>
                            <td>{{b.typeaccount}}</td>
                            <td>{{b.point}}</td>
                            <td>{{b.ssn}}</td>
                            <td>{{b.ammount}}</td>
                            <td>{{b.balance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-dark m-3" (click)="consentloan()">Consent Loan</button>
        <button class="btn btn-dark m-3" (click)="getallloan()">All</button>
        <button class="btn btn-dark m-3" (click)="rejectloan()">Reject Loan</button>
    </div>
    <button class="btn btn-dark m-3" [routerLink]="['/admin', id]">Return Home</button>
</div>